@import url("https://fonts.googleapis.com/css?family=Catamaran");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Catamaran", Catamaran;
}

.navBar {
  display: flex;
  width: 100%;
  height: fit-content;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  position: fixed;
  z-index: 2;
}

.navLogo {
  width: 100px;
  height: 100px;
}

.logo {
  width: 100%;
  height: 100%;
}

.navOptions {
  width: fit-content;
  height: 100px;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.navButtons {
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
  color: black;
}

.navUserSection {
  width: fit-content;
  height: 100px;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.searchField {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}

/* Home page */
.homePage {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.carousel {
  width: 95%;
  height: 60vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
}

.carouselItems {
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carouselImage {
  width: 100%;
  height: 60vh;
  object-fit: cover;
}

.carouselCaption {
  font-size: 40px;
}

/* products section */
.productsSection {
  /* border: 2px solid green; */
  width: 90%;
  height: fit-content;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  margin: 2rem;
}

.categorySection {
  /* border: 2px solid rgb(0, 13, 128); */
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.popularSectionTitle,
.categorySectionTitle {
  /* border: 2px solid rgb(128, 122, 0); */
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popularSectionTitle,
.categorySectionTitle span {
  font-size: 40px;
  font-weight: bold;
}

.productCardSection,
.popularCategorySection {
  /* border: 2px solid rgb(128, 77, 0); */
  width: 100%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.popularSection {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.categoryCards {
  min-width: 280px;
  min-height: 280px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.cardImage {
  width: 280px;
  height: 280px;
  object-fit: cover;
  border-radius: 10%;
}

.categoryCards span {
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.6);
  padding: 5px;
  border-radius: 10px;
}

/* Popular products review and stock status */
.reviewStatus {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Product Categories Page */
.productsPage {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productPageContent {
  border: 2px solid red;
  width: 100%;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
}

.productsPageTitle {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.productsPageTitle span {
  font-size: 30px;
  font-weight: bolder;
}

.subCategory {
  width: 90%;
  height: fit-content;
}

.subCategoryHeaders {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subCategoryHeaders span {
  font-size: 30px;
  font-weight: bold;
}

.productCarousel {
  padding: 10px;
  cursor: grab;
}

.subCategory_productCards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: 300px;
  gap: 1rem;
}

.subCategory_productCards img {
  width: 90%;
  height: 45%;
  object-fit: cover;
  border-radius: 10px;
}

.subCategory_CardDetails {
  width: 95%;
  display: flex;
  justify-content: space-between;
}

.subCategory_CardDetails span {
  font-size: 20px;
  font-weight: bold;
}

/* Individual products */
/* Fruits,Chocolates,Spices,Natural Oils,Coffee Verities*/
.productPage {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.pageTitle {
  width: 80%;
  height: fit-content;
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pageTitle span {
  font-size: 40px;
  font-weight: bold;
  display: flex;
}

.pageFilter {
  width: 80%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pageFilter span {
  font-size: 30px;
  font-weight: bold;
  display: flex;
}

.productSection {
  width: 80%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

/* cart page properties */
.cartPage {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.cartItemsDiv {
  border: 2px solid;
  width: 50%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  gap: 1rem;
  overflow-y: scroll;
}

.cartItemCard {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 5px;
}

.cartItemCard img {
  width: 100px;
  height: 100px;
  border-radius: 5%;
  object-fit: cover;
}

.itemDescription {
  width: 40%;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.itemPrice {
  width: 50%;
  height: 50px;
  border: 2px solid green;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* empty cart properties */
.emptyCart {
  border: 2px solid;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.emptyCart p {
  font-size: 25px;
}

/* view individual product page */
.productViewPage {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.leftSection {
  width: 40%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 120px;
}

.imageCard {
  width: 100%;
  height: 100%;
}

.imageCard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.descriptionText {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.descriptionText span {
  font-size: 20px;
  font-weight: bold;
}

.rightSection {
  width: 50%;
  height: 80vh;
  margin-top: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.productDetailsCard {
  width: 100%;
  height: fit-content;
  padding: 2rem;
}

.productDetails {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.priceAndQty {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.ratingSec {
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttonSec {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

/* user login or sign up page properties */
.accountPage {
  border: 2px solid;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
 
}
/* login section on left side */
.loginSection {
  border: 2px solid green;
  width: 40%;
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 120px;
}
.signUpSection {
  border: 2px solid red;
  width: 40%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 120px;
}
.loginFormPaper,.SignUpFormPaper{
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.formTitle{
  font-size: 20px;
  font-weight: bold;
}


